.utilsComp {
  height: calc(100vh - 72px);
  width: 300px;
  background-color: #121722;
  color: white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.titleComp {
  height: 56px;
  padding: 10px;
  background-color: #121722;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatsTitle {
  cursor: default;
}

.searchMessagez {
  height: 56px;
  padding: 10px;
  border-right: 1px solid var(--color-gray);
  margin-bottom: 10px;
  background-color: #121722;
  display: flex;
  border-bottom: 1px solid var(--color-gray);
}

.chatsAll {
  height: min(100%, fit-content);
  background-color: #121722;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #484848 #121722;
}

.singleGroupChatContainer {
  height: 48px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: #121722;
  border-radius: 8px;
  padding-left: 0;
}

.singleGroupChatContainer:hover {
  background-color: rgb(48, 53, 64);
}

.currentSingleGroupChatContainer {
  height: 48px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: rgb(48, 53, 64);
  border-radius: 8px;
  padding-left: 0;
}

.chatIcon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.profileImage {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.newMessageButton {
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newMessageButton:hover {
  cursor: pointer;
  color: rgb(117, 119, 124);
}

.TitleAndLastMessage {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.GroupChatTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.GroupChatLastMessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #797d85;
}