.utilsComp {
  height: var(--max-height);
  width: 300px;
  color: var(--color-white);
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  border-right: 1px solid var(--color-gray);  
}

.titleComp {
  height: 62px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchMessagez {
  height: 56px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  border-bottom: 1px solid var(--color-gray);
}

.chatsAll {
  height: min(100%, fit-content);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #484848 var(--color-background);
}

.singleGroupChatContainer {
  height: 64px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 0;
  margin-right: 5px;
}

.singleGroupChatContainer:hover {
  background-color: var(--color-light-gray);
}

.currentSingleGroupChatContainer {
  height: 64px;
  margin-right: 5px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: var(--color-light-gray);
  border-radius: 8px;
  padding-left: 0;
}

.chatIcon {
  height: var(--icon-large);
  width: var(--icon-large);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.profileImage {
  border-radius: 50%;
  width: var(--icon-large);
  height: var(--icon-large);
}

.newMessageButton {
  width: var(--icon-large);
  height: var(--icon-large);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.newMessageButton:hover {
  cursor: pointer;
  background-color: var(--color-light-gray);
}

.TitleAndLastMessage {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.GroupChatTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.GroupChatLastMessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #797d85;
}