
.utilsComp {
  height: calc(100vh - 106px);
  width: 400px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.titleComp {
  height: 56px;
  padding: 10px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
}

.searchMessagez {
  height: 56px;
  padding: 10px;
  background-color: orange;
  display: flex;
}

.chatsAll {
  height: 100%;
  background-color: yellowgreen;
}