.unauthWelcomeScreen {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--max-height);
}

.mainTemplate {
  margin-top: 20px;
  min-height: 300px;
  padding: 15px;
  width: 567.4px;
  background-color: var(--color-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .mainTemplate {
    width: 75%;
  }
}

.messagezMain {
  text-align: center;
  font-weight: 500;
  font-size: min(1.75rem, 50px);
  user-select: none;
}

.loginPrompt {
  text-align: center;
  font-size: min(1.25rem, 5vw);
  user-select: none;
}

.loginButtonUnauth {
  margin-top: 10px;
  white-space: nowrap;
}